.posisi{
    margin-left: 740px;   
}
.box{
    height: 150px;
}
.text1{
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.box1{
    justify-content: left;
    height: 350px;
}
.box2{
    height: 90px;
}
.teks2{
   opacity: 32%;
}

.box3{
    height:200px;
}

