.box{
    margin-top: 10px;
    height:400px;
    background-color: #025955;
    color: #ffffff;
}
.text1{
    text-align: center;
    padding-top: 150px;
    color: #ffffff;
}

.btn{
    background: purple;
    color: black;
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
}

.text2{
    margin-top: 50px;
}

.box2{
    height: 200px;
    border-radius: 15px;
}

.box3{
    height: 250px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.box4{
    height: 50px;
}

.text3{
    margin-top: 70px;
}